# Visualise Flickr and OpenStreetMap data on National Map

In [4]:
import pandas as pd

In [21]:
flickr = pd.read_csv('photo.list', header=None)
poi = pd.read_csv('poi.list', header=None)

In [12]:
flickr.head()

        0                1           2           3          4
0  361290  49503193552@N01  1094528249  144.990788 -37.823874
1  429494     56685562@N00  1095051416  144.967147 -37.817531
2  835663  36521966482@N01  1093758183  144.968355 -37.817838
3  835669  36521966482@N01  1093754825  144.958334 -37.821121
4  930089  36521966482@N01  1093767449  144.967625 -37.818182

In [15]:
flickr_nm = flickr[[3,4,1]]
flickr_nm.columns = ['longitude', 'latitude', 'user']

In [16]:
flickr_nm.head()

    longitude   latitude             user
0  144.990788 -37.823874  49503193552@N01
1  144.967147 -37.817531     56685562@N00
2  144.968355 -37.817838  36521966482@N01
3  144.958334 -37.821121  36521966482@N01
4  144.967625 -37.818182  36521966482@N01

In [18]:
flickr_nm.to_csv('flickr.csv', index=False)

In [22]:
poi.head()

            0          1         2
0  145.240752 -37.869372  Shopping
1  145.232902 -37.847676  Shopping
2  145.193971 -37.894628   Leisure
3  144.733443 -37.277277  Cultural
4  145.370272 -37.887377      Park

In [23]:
poi.columns = ['longitude', 'latitude', 'type']
poi.to_csv('osm.csv', index=False)