# Trajectory Recommendation Results of IJCAI15

Trajectory Recommendation results of IJCAI15, results are produced by the R code and data provided by Kwan Hui.

In [1]:
import os, sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
frec_Edin = 'results-tourRec-EdinPOI-exp20personal.csv'
frec_Glas = 'results-tourRec-GlasPOI-exp20personal.csv'
frec_Osak = 'results-tourRec-OsakPOI-exp20personal.csv'
frec_Toro = 'results-tourRec-ToroPOI-exp20personal.csv'

## Load Recommendation Results

In [3]:
rec_Edin = pd.read_csv(frec_Edin, sep=';')
rec_Glas = pd.read_csv(frec_Glas, sep=';')
rec_Osak = pd.read_csv(frec_Osak, sep=';')
rec_Toro = pd.read_csv(frec_Toro, sep=';')

In [4]:
print(rec_Edin.shape)
rec_Edin.head()

(1324, 14)

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
0,tourRecLPmultiObjIntTime_i1,13,3,74.283598,3.0,72.536371,1.157584,0.200461,0.500,0.666667,0.571429,14.442480,31.167593,0.679022
1,tourRecLPmultiObjIntTime_i.5,13,3,74.283598,3.0,72.264047,2.100241,0.090259,0.500,0.666667,0.571429,14.442480,31.167593,1.095250
2,tourRecLPmultiObjIntTime_i1,28,9,225.233818,4.0,64.062699,1.629022,3.000000,0.400,0.400000,0.400000,NaN,NaN,2.314511
3,tourRecLPmultiObjIntTime_i.5,28,9,225.233818,7.0,224.921845,3.379733,3.000000,0.375,0.600000,0.461538,NaN,NaN,3.189866
4,tourRecLPmultiObjIntTime_i1,15,8,16.043956,2.0,16.043956,0.505581,0.070517,1.000,1.000000,1.000000,13.996831,13.960508,0.288049

In [5]:
print(rec_Glas.shape)
rec_Glas.head()

(232, 14)

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
0,tourRecLPmultiObjIntTime_i1,20,2,35.813754,2,35.813754,1.183099,0.828683,1.000000,1.00,1.000000,27.114951,16.610256,1.005891
1,tourRecLPmultiObjIntTime_i.5,20,2,35.813754,2,35.813754,1.183099,0.828683,1.000000,1.00,1.000000,27.114951,16.610256,1.005891
2,tourRecLPmultiObjIntTime_i1,2,21,159.517415,6,158.869735,1.855131,1.678304,0.428571,0.75,0.545455,NaN,NaN,1.766717
3,tourRecLPmultiObjIntTime_i.5,2,21,159.517415,3,159.517415,1.983233,1.675665,1.000000,1.00,1.000000,NaN,NaN,1.829449
4,tourRecLPmultiObjIntTime_i1,21,11,158.231934,5,132.874632,1.749832,1.021407,0.500000,0.75,0.600000,292.129221,206.469697,1.385620

In [6]:
print(rec_Osak.shape)
rec_Osak.head()

(96, 14)

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
0,tourRecLPmultiObjIntTime_i1,22,21,237.312211,3,168.933483,0.338944,0.000000,0.500000,0.666667,0.571429,NaN,NaN,0.169472
1,tourRecLPmultiObjIntTime_i.5,22,21,237.312211,2,237.312211,1.227238,0.000000,1.000000,1.000000,1.000000,10.833333,61.547119,0.613619
2,tourRecLPmultiObjIntTime_i1,5,21,163.135593,2,155.821111,0.243305,0.872973,0.666667,0.666667,0.666667,51.345269,1.000000,0.558139
3,tourRecLPmultiObjIntTime_i.5,5,21,163.135593,2,137.556544,0.322877,0.872973,0.666667,0.666667,0.666667,51.345269,1.000000,0.597925
4,tourRecLPmultiObjIntTime_i1,28,20,174.396199,4,168.729694,1.234889,0.644839,0.400000,0.666667,0.500000,23.037944,95.705208,0.939864

In [7]:
print(rec_Toro.shape)
rec_Toro.head()

(688, 14)

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
0,tourRecLPmultiObjIntTime_i1,16,28,257.204961,4.0,257.135278,1.962337,3.000000,0.4,0.5,0.444444,1.883333,28.255128,2.481169
1,tourRecLPmultiObjIntTime_i.5,16,28,257.204961,4.0,257.135278,1.962337,3.000000,0.4,0.5,0.444444,1.883333,28.255128,2.481169
2,tourRecLPmultiObjIntTime_i1,7,30,138.550726,3.0,138.550726,1.471028,1.676318,1.0,1.0,1.000000,26.993119,38.001388,1.573673
3,tourRecLPmultiObjIntTime_i.5,7,30,138.550726,3.0,138.550726,1.471028,1.676318,1.0,1.0,1.000000,26.993119,38.001388,1.573673
4,tourRecLPmultiObjIntTime_i1,23,21,384.998030,4.0,378.456716,1.789715,4.000000,0.6,0.5,0.545455,NaN,NaN,2.894858

Results of different recommendation algoirthms on Edinburgh dataset.

In [8]:
algo_Edin = rec_Edin['algo'].unique()
algo_Edin

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [38]:
algo10_Edin = rec_Edin[rec_Edin['algo'] == algo_Edin[0]]
print(algo10_Edin.shape, rec_Edin.shape)

(656, 14) (1324, 14)

In [10]:
print(algo10_Edin['f1score'].mean())
print(algo10_Edin['f1score'].std())

0.61813332561
0.199491182284

In [39]:
algo05_Edin = rec_Edin[rec_Edin['algo'] == algo_Edin[1]]
print(algo05_Edin.shape, rec_Edin.shape)

(668, 14) (1324, 14)

In [12]:
print(algo05_Edin['f1score'].mean())
print(algo05_Edin['f1score'].std())

0.671261893658
0.218175919343

Results of different recommendation algoirthms on Glasgow dataset.

In [13]:
algo_Glas = rec_Glas['algo'].unique()
algo_Glas

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [40]:
algo10_Glas = rec_Glas[rec_Glas['algo'] == algo_Glas[0]]
print(algo10_Glas.shape, rec_Glas.shape)

(116, 14) (232, 14)

In [15]:
print(algo10_Glas['f1score'].mean())
print(algo10_Glas['f1score'].std())

0.727576108813
0.204616820208

In [41]:
algo05_Glas = rec_Glas[rec_Glas['algo'] == algo_Glas[1]]
print(algo05_Glas.shape, rec_Glas.shape)

(116, 14) (232, 14)

In [17]:
print(algo05_Glas['f1score'].mean())
print(algo05_Glas['f1score'].std())

0.798167230205
0.217465775104

Results of different recommendation algoirthms on Osaka dataset.

In [18]:
algo_Osak = rec_Osak['algo'].unique()
algo_Osak

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [42]:
algo10_Osak = rec_Osak[rec_Osak['algo'] == algo_Osak[0]]
print(algo10_Osak.shape, rec_Osak.shape)

(48, 14) (96, 14)

In [20]:
print(algo10_Osak['f1score'].mean())
print(algo10_Osak['f1score'].std())

0.640863997114
0.198332414796

In [43]:
algo05_Osak = rec_Osak[rec_Osak['algo'] == algo_Osak[1]]
print(algo05_Osak.shape, rec_Osak.shape)

(48, 14) (96, 14)

In [22]:
print(algo05_Osak['f1score'].mean())
print(algo05_Osak['f1score'].std())

0.698995911496
0.226146335368

Results of different recommendation algoirthms on Toronto dataset.

In [23]:
algo_Toro = rec_Toro['algo'].unique()
algo_Toro

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [44]:
algo10_Toro = rec_Toro[rec_Toro['algo'] == algo_Toro[0]]
print(algo10_Toro.shape, rec_Toro.shape)

(342, 14) (688, 14)

In [25]:
print(algo10_Toro['f1score'].mean())
print(algo10_Toro['f1score'].std())

0.717827219698
0.219277869975

In [45]:
algo05_Toro = rec_Toro[rec_Toro['algo'] == algo_Toro[1]]
print(algo05_Toro.shape, rec_Toro.shape)

(346, 14) (688, 14)

In [27]:
print(algo05_Toro['f1score'].mean())
print(algo05_Toro['f1score'].std())

0.73238356624
0.217999794847

## Results Table

In [28]:
df_columns = ['#Trajectory', 'Recall_mean', 'Recall_std', 'Precision_mean', 'Precision_std', 'F1_mean', 'F1_std']

In [29]:
df_indices = ['Edinburgh', 'Glasgow', 'Osaka', 'Toronto']

In [30]:
data10_df = [algo10_Edin, algo10_Glas, algo10_Osak, algo10_Toro]

In [31]:
algo10_df = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [32]:
assert(len(df_indices) == len(data10_df))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo10_df.loc[ix, '#Trajectory']    = data10_df[i].shape[0]
    algo10_df.loc[ix, 'Recall_mean']    = data10_df[i]['recall'].mean()
    algo10_df.loc[ix, 'Recall_std']     = data10_df[i]['recall'].std()
    algo10_df.loc[ix, 'Precision_mean'] = data10_df[i]['precision'].mean()
    algo10_df.loc[ix, 'Precision_std']  = data10_df[i]['precision'].std()
    algo10_df.loc[ix, 'F1_mean']        = data10_df[i]['f1score'].mean()
    algo10_df.loc[ix, 'F1_std']         = data10_df[i]['f1score'].std()
algo10_df['#Trajectory'] = algo10_df['#Trajectory'].astype(np.int)

In [33]:
algo10_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,656,0.667755,0.184078,0.600600,0.229101,0.618133,0.199491
Glasgow,116,0.738844,0.195753,0.735991,0.228247,0.727576,0.204617
Osaka,48,0.682639,0.173408,0.621825,0.224965,0.640864,0.198332
Toronto,342,0.743630,0.199341,0.709986,0.241362,0.717827,0.219278

In [34]:
data05_df = [algo05_Edin, algo05_Glas, algo05_Osak, algo05_Toro]

In [35]:
algo05_df = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [36]:
assert(len(df_indices) == len(data05_df))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo05_df.loc[ix, '#Trajectory']    = data05_df[i].shape[0]
    algo05_df.loc[ix, 'Recall_mean']    = data05_df[i]['recall'].mean()
    algo05_df.loc[ix, 'Recall_std']     = data05_df[i]['recall'].std()
    algo05_df.loc[ix, 'Precision_mean'] = data05_df[i]['precision'].mean()
    algo05_df.loc[ix, 'Precision_std']  = data05_df[i]['precision'].std()
    algo05_df.loc[ix, 'F1_mean']        = data05_df[i]['f1score'].mean()
    algo05_df.loc[ix, 'F1_std']         = data05_df[i]['f1score'].std()
algo05_df['#Trajectory'] = algo05_df['#Trajectory'].astype(np.int)

In [37]:
algo05_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,668,0.740181,0.177193,0.632600,0.250028,0.671262,0.218176
Glasgow,116,0.826457,0.184739,0.781568,0.241362,0.798167,0.217466
Osaka,48,0.759028,0.179833,0.662202,0.259361,0.698996,0.226146
Toronto,346,0.778628,0.176512,0.705728,0.247908,0.732384,0.218000