# Trajectory Recommendation Results of IJCAI15

Trajectory Recommendation results of IJCAI'15 paper, results are produced by the R code and data provided by K.H.

[Table of Contents](#toc)
1. [Initial Recommendation Results](#sec1)
1. [Problems](#sec2)
1. [New Results](#sec3)

In [1]:
import os, sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_dir = 'data/data-ijcai15'

In [3]:
frec_Edin = os.path.join(data_dir, 'results-tourRec-EdinPOI-exp20personal.csv')
frec_Glas = os.path.join(data_dir, 'results-tourRec-GlasPOI-exp20personal.csv')
frec_Osak = os.path.join(data_dir, 'results-tourRec-OsakPOI-exp20personal.csv')
frec_Toro = os.path.join(data_dir, 'results-tourRec-ToroPOI-exp20personal.csv')

In [4]:
frec_Edin_new = os.path.join(data_dir, 'results-tourRec-EdinPOI-exp20personal-new.csv')
frec_Glas_new = os.path.join(data_dir, 'results-tourRec-GlasPOI-exp20personal-new.csv')
frec_Osak_new = os.path.join(data_dir, 'results-tourRec-OsakPOI-exp20personal-new.csv')
frec_Toro_new = os.path.join(data_dir, 'results-tourRec-ToroPOI-exp20personal-new.csv')

In [5]:
fToro0 = os.path.join(data_dir, 'dfVisits-Toro.csv')
fToro1 = os.path.join(data_dir, 'dfVisits1-Toro.csv')
fToro2 = os.path.join(data_dir, 'dfVisits2-Toro.csv')
fToro11 = os.path.join(data_dir, 'dfVisits11-Toro.csv')
fToro_time = os.path.join(data_dir, 'dfVisitsTimes-Toro.csv')

<a id='sec1'></a>

## 1. Initial Recommendation Results

### 1.1 Load Results

In [6]:
rec_Edin = pd.read_csv(frec_Edin, sep=';')
rec_Glas = pd.read_csv(frec_Glas, sep=';')
rec_Osak = pd.read_csv(frec_Osak, sep=';')
rec_Toro = pd.read_csv(frec_Toro, sep=';')

In [7]:
print(rec_Edin.shape)
rec_Edin.head()

(1324, 14)

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
0,tourRecLPmultiObjIntTime_i1,13,3,74.283598,3.0,72.536371,1.157584,0.200461,0.500,0.666667,0.571429,14.442480,31.167593,0.679022
1,tourRecLPmultiObjIntTime_i.5,13,3,74.283598,3.0,72.264047,2.100241,0.090259,0.500,0.666667,0.571429,14.442480,31.167593,1.095250
2,tourRecLPmultiObjIntTime_i1,28,9,225.233818,4.0,64.062699,1.629022,3.000000,0.400,0.400000,0.400000,NaN,NaN,2.314511
3,tourRecLPmultiObjIntTime_i.5,28,9,225.233818,7.0,224.921845,3.379733,3.000000,0.375,0.600000,0.461538,NaN,NaN,3.189866
4,tourRecLPmultiObjIntTime_i1,15,8,16.043956,2.0,16.043956,0.505581,0.070517,1.000,1.000000,1.000000,13.996831,13.960508,0.288049

In [8]:
rec_Edin[rec_Edin['algo'] == 'tourRecLPmultiObjIntTime_i1'].shape

(656, 14)

In [9]:
print(rec_Glas.shape)
#rec_Glas.head()

(232, 14)

In [10]:
print(rec_Osak.shape)
#rec_Osak.head()

(96, 14)

In [11]:
print(rec_Toro.shape)
#rec_Toro.head()

(688, 14)

#### Results of different recommendation algoirthms on Edinburgh dataset.

In [12]:
algo_Edin = rec_Edin['algo'].unique()
algo_Edin

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [13]:
algo10_Edin = rec_Edin[rec_Edin['algo'] == algo_Edin[0]]
print(algo10_Edin.shape, rec_Edin.shape)

(656, 14) (1324, 14)

In [14]:
print(algo10_Edin['f1score'].mean())
print(algo10_Edin['f1score'].std())

0.61813332561
0.199491182284

In [15]:
algo05_Edin = rec_Edin[rec_Edin['algo'] == algo_Edin[1]]
print(algo05_Edin.shape, rec_Edin.shape)

(668, 14) (1324, 14)

In [16]:
print(algo05_Edin['f1score'].mean())
print(algo05_Edin['f1score'].std())

0.671261893658
0.218175919343

#### Results of different recommendation algoirthms on Glasgow dataset.

In [17]:
algo_Glas = rec_Glas['algo'].unique()
algo_Glas

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [18]:
algo10_Glas = rec_Glas[rec_Glas['algo'] == algo_Glas[0]]
print(algo10_Glas.shape, rec_Glas.shape)

(116, 14) (232, 14)

In [19]:
print(algo10_Glas['f1score'].mean())
print(algo10_Glas['f1score'].std())

0.727576108813
0.204616820208

In [20]:
algo05_Glas = rec_Glas[rec_Glas['algo'] == algo_Glas[1]]
print(algo05_Glas.shape, rec_Glas.shape)

(116, 14) (232, 14)

In [21]:
print(algo05_Glas['f1score'].mean())
print(algo05_Glas['f1score'].std())

0.798167230205
0.217465775104

#### Results of different recommendation algoirthms on Osaka dataset.

In [22]:
algo_Osak = rec_Osak['algo'].unique()
algo_Osak

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [23]:
algo10_Osak = rec_Osak[rec_Osak['algo'] == algo_Osak[0]]
print(algo10_Osak.shape, rec_Osak.shape)

(48, 14) (96, 14)

In [24]:
print(algo10_Osak['f1score'].mean())
print(algo10_Osak['f1score'].std())

0.640863997114
0.198332414796

In [25]:
algo05_Osak = rec_Osak[rec_Osak['algo'] == algo_Osak[1]]
print(algo05_Osak.shape, rec_Osak.shape)

(48, 14) (96, 14)

In [26]:
print(algo05_Osak['f1score'].mean())
print(algo05_Osak['f1score'].std())

0.698995911496
0.226146335368

#### Results of different recommendation algoirthms on Toronto dataset.

In [27]:
algo_Toro = rec_Toro['algo'].unique()
algo_Toro

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

In [28]:
algo10_Toro = rec_Toro[rec_Toro['algo'] == algo_Toro[0]]
print(algo10_Toro.shape, rec_Toro.shape)

(342, 14) (688, 14)

In [29]:
print(algo10_Toro['f1score'].mean())
print(algo10_Toro['f1score'].std())

0.717827219698
0.219277869975

In [30]:
algo05_Toro = rec_Toro[rec_Toro['algo'] == algo_Toro[1]]
print(algo05_Toro.shape, rec_Toro.shape)

(346, 14) (688, 14)

In [31]:
print(algo05_Toro['f1score'].mean())
print(algo05_Toro['f1score'].std())

0.73238356624
0.217999794847

### 1.2 Results Table

In [32]:
df_columns = ['#Trajectory', 'Recall_mean', 'Recall_std', 'Precision_mean', 'Precision_std', 'F1_mean', 'F1_std']

In [33]:
df_indices = ['Edinburgh', 'Glasgow', 'Osaka', 'Toronto']

Performance when $\eta = 1.0$.

In [34]:
data10_df = [algo10_Edin, algo10_Glas, algo10_Osak, algo10_Toro]

In [35]:
algo10_df = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [36]:
assert(len(df_indices) == len(data10_df))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo10_df.loc[ix, '#Trajectory']    = data10_df[i].shape[0]
    algo10_df.loc[ix, 'Recall_mean']    = np.round(data10_df[i]['recall'].mean(), 3)
    algo10_df.loc[ix, 'Recall_std']     = np.round(data10_df[i]['recall'].std(), 3)
    algo10_df.loc[ix, 'Precision_mean'] = np.round(data10_df[i]['precision'].mean(), 3)
    algo10_df.loc[ix, 'Precision_std']  = np.round(data10_df[i]['precision'].std(), 3)
    algo10_df.loc[ix, 'F1_mean']        = np.round(data10_df[i]['f1score'].mean(), 3)
    algo10_df.loc[ix, 'F1_std']         = np.round(data10_df[i]['f1score'].std(), 3)
algo10_df['#Trajectory'] = algo10_df['#Trajectory'].astype(np.int)

In [37]:
algo10_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,656,0.668,0.184,0.601,0.229,0.618,0.199
Glasgow,116,0.739,0.196,0.736,0.228,0.728,0.205
Osaka,48,0.683,0.173,0.622,0.225,0.641,0.198
Toronto,342,0.744,0.199,0.710,0.241,0.718,0.219

Performance when $\eta = 0.5$.

In [38]:
data05_df = [algo05_Edin, algo05_Glas, algo05_Osak, algo05_Toro]

In [39]:
algo05_df = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [40]:
assert(len(df_indices) == len(data05_df))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo05_df.loc[ix, '#Trajectory']    = data05_df[i].shape[0]
    algo05_df.loc[ix, 'Recall_mean']    = np.round(data05_df[i]['recall'].mean(), 3)
    algo05_df.loc[ix, 'Recall_std']     = np.round(data05_df[i]['recall'].std(), 3)
    algo05_df.loc[ix, 'Precision_mean'] = np.round(data05_df[i]['precision'].mean(), 3)
    algo05_df.loc[ix, 'Precision_std']  = np.round(data05_df[i]['precision'].std(), 3)
    algo05_df.loc[ix, 'F1_mean']        = np.round(data05_df[i]['f1score'].mean(), 3)
    algo05_df.loc[ix, 'F1_std']         = np.round(data05_df[i]['f1score'].std(), 3)
algo05_df['#Trajectory'] = algo05_df['#Trajectory'].astype(np.int)

In [41]:
algo05_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,668,0.740,0.177,0.633,0.250,0.671,0.218
Glasgow,116,0.826,0.185,0.782,0.241,0.798,0.217
Osaka,48,0.759,0.180,0.662,0.259,0.699,0.226
Toronto,346,0.779,0.177,0.706,0.248,0.732,0.218

The mean values of recall/precision/F1 are consistent with numbers reported in IJCAI'15 paper, but the standard deviations are about $10$ times larger than those reported in paper.

<a id='sec2'></a>

## 2. Problems

### 2.1 Trajectory Extraction

All trajectories used to evaluate (i.e., compute recall/precision/F1) are extracted in a way to get rid of loops/sub-tours, the order of a POI in a trajectory is the order of the first occurrence of that POI in the trajectory, namely, dataset are filtered in the following way.

**NOTE: **
1. The above filtering are only used to evaluate the recommended trajectories, POI features such as visit duration are computed use all photos (i.e., without filtering).
1. Photo records in dataset files provided by IJCAI'15 paper were sorted by `[seqID, dateTaken]` in ascending order.

In [42]:
df_Toro0 = pd.read_csv(fToro0, sep=';')
df_Toro0.shape

(39419, 7)

In [43]:
traj_Toro = df_Toro0[~df_Toro0.duplicated(subset=['poiID', 'seqID'])]
traj_Toro.shape

(7607, 7)

### 2.2 Reason of Duplicated Recommendation Results

Results of Edinburgh and Toronto dataset are interesting, i.e., the total number of recommended trajectories for algorithm `'tourRecLPmultiObjIntTime_i1` and `tourRecLPmultiObjIntTime_i.5` is different.

In [44]:
rec_Edin[rec_Edin['algo'] == 'tourRecLPmultiObjIntTime_i1'].shape

(656, 14)

In [45]:
rec_Edin[rec_Edin['algo'] == 'tourRecLPmultiObjIntTime_i.5'].shape

(668, 14)

In [46]:
rec_Toro[rec_Toro['algo'] == 'tourRecLPmultiObjIntTime_i1'].shape

(342, 14)

In [47]:
rec_Toro[rec_Toro['algo'] == 'tourRecLPmultiObjIntTime_i.5'].shape

(346, 14)

The reason of the above phenomenon is the duplicated recommendation results for some trajectories.  
For example, to recommend a trajectory w.r.t (start=21, end=19), this is a trajectory with `seqID=4961` in Toronto dataset, the results are

In [48]:
SEQ_ID = 4961

In [49]:
rec_Toro[np.logical_and(rec_Toro['startNode'] == 21, rec_Toro['endNode'] == 19)]

,algo,startNode,endNode,budget,totalPOI,totalCost,totalProfit,totalInterest,precision,recall,f1score,recTimeRMSE,baselineRMSE,totalPopInt
130,tourRecLPmultiObjIntTime_i1,21,19,756.88289,3.0,164.485187,0.751086,0.0,1.000000,0.4,0.571429,89.049916,22.770471,0.375543
131,tourRecLPmultiObjIntTime_i.5,21,19,756.88289,10.0,751.699867,5.563496,0.0,0.727273,0.8,0.761905,77.917991,44.482318,2.781748
132,tourRecLPmultiObjIntTime_i.5,21,19,756.88289,10.0,751.699867,5.563496,0.0,0.727273,0.8,0.761905,83.944269,46.877952,2.781748

While the ILP solver returns only one solution for algorithm `tourRecLPmultiObjIntTime_i.5` (function `tourRecLPmultiObj()`), but the function `calcStats()` produce $2$ rows (as shown above) when computing statistics of the ILP solution.

In [50]:
df_Toro_time = pd.read_csv(fToro_time, sep=';')

In [51]:
tempDfVisitTimes = df_Toro_time[df_Toro_time['seqID'] == SEQ_ID]
tempDfVisitTimes

      poiID  seqID       userID   poiTheme  visitDuration  avgDuration
68        1   4961  8110030@N05      Sport     140.150000   120.482161
631       7   4961  8110030@N05   Cultural      63.816667    52.975737
1407     16   4961  8110030@N05  Amusement      72.883333    94.618018
1684     19   4961  8110030@N05      Beach       1.016667    32.273333
1783     21   4961  8110030@N05      Beach      14.633333    62.992631
2479     23   4961  8110030@N05   Shopping      58.450000    59.085668
2650     24   4961  8110030@N05   Shopping       3.833333    75.604557
3060     28   4961  8110030@N05  Structure       5.500000    31.241667

This is because statement `tempDfVisitTimes[tempDfVisitTimes$poiID==tempTo,]$visitDuration` produces two values when computing the RMSE of recommended visit duration for POI `tempTo` in function `calcStats()`, i.e., there are two values in column `poiID` of dataframe `tempDfVisitTimes` that equals to `tempTo` (for POI `1` and `23`).

On the other hand, the above trajectory looks strange, let's check it from the trajectory dataframe.

In [52]:
traj_Toro[traj_Toro['seqID'] == SEQ_ID]

          photoID       userID   dateTaken  poiID   poiTheme  poiFreq  seqID
32736  2496437324  8110030@N05  1210645664     21      Beach     3594   4961
32737  2495612613  8110030@N05  1210646225     23   Shopping     1874   4961
32743  2496510540  8110030@N05  1210649845     28  Structure      936   4961
32746  2496456664  8110030@N05  1210650968     30  Structure     1538   4961
32747  2550882990  8110030@N05  1210651491     16  Amusement     3553   4961
32749  2496567652  8110030@N05  1210653751      1      Sport     3506   4961
32750  2495795797  8110030@N05  1210654091      4      Sport     3056   4961
32754  2495726207  8110030@N05  1210660662     24   Shopping     1028   4961
32759  2550064695  8110030@N05  1210662173      7   Cultural     2064   4961
32765  2497124834  8110030@N05  1210682928     19      Beach      111   4961

They are **NOT** the same! This is **unexpected** as dataframe `df_Toro_time` is computed by taking the original visiting data (i.e. dataframe `df_Toro0` in the above section) as input, in function `addVisitDuration()`, and compute visit duration for each POI in each trajectory as well as the average visit duration for each POI.

Let's dive into function `addVisitDuration()` and check what happened.

The logic of function `addVisitDuration()` is:
0. sort photo records by `[seqID, dateTaken]` in descending order,
1. compute the number of photos taken at each POI in each trajectory,
1. compute the time taken the first and last photo at each POI, a.k.a, arrivalTime and departureTime of a POI,
1. compute the POI visit duration = departureTime - arrivalTime, 
1. filtering out a POI in a trajectory if its visit duration is $0$ in that trajectory,
1. compute the average visit duration of each POI.

Let's check it step by step.

`2.` compute the number of photos taken at each POI in each trajectory,

In [53]:
df_Toro1 = pd.read_csv(fToro1, sep=';')

In [54]:
df_Toro1[df_Toro1['seqID'] == SEQ_ID]

,seqID,poiID,photoID,userID,dateTaken,poiTheme,poiFreq,visitFreq
5923,4961,19,2497127026,8110030@N05,1210682989,Beach,111,2
5924,4961,19,2497124834,8110030@N05,1210682928,Beach,111,2
5925,4961,7,2495790615,8110030@N05,1210666002,Cultural,2064,6
5926,4961,7,2495762153,8110030@N05,1210665727,Cultural,2064,6
5927,4961,7,2496574408,8110030@N05,1210665618,Cultural,2064,6
5928,4961,7,2495744275,8110030@N05,1210665528,Cultural,2064,6
5929,4961,7,2496551970,8110030@N05,1210665511,Cultural,2064,6
5930,4961,7,2550064695,8110030@N05,1210662173,Cultural,2064,6
5931,4961,1,2495792291,8110030@N05,1210662160,Sport,3506,4
5932,4961,1,2495784287,8110030@N05,1210662131,Sport,3506,4
5933,4961,1,2495774905,8110030@N05,1210662111,Sport,3506,4
5934,4961,24,2496570740,8110030@N05,1210660892,Shopping,1028,2
5935,4961,24,2495726207,8110030@N05,1210660662,Shopping,1028,2
5936,4961,16,2550885224,8110030@N05,1210655867,Amusement,3553,5
5937,4961,16,2495737537,8110030@N05,1210655864,Amusement,3553,5
5938,4961,16,2495724685,8110030@N05,1210655829,Amusement,3553,5
5939,4961,1,2496567652,8110030@N05,1210653751,Sport,3506,4
5940,4961,16,2495703021,8110030@N05,1210653284,Amusement,3553,5
5941,4961,16,2550882990,8110030@N05,1210651491,Amusement,3553,5
5942,4961,28,2495607515,8110030@N05,1210650175,Structure,936,3
5943,4961,28,2495604829,8110030@N05,1210649993,Structure,936,3
5944,4961,28,2496510540,8110030@N05,1210649845,Structure,936,3
5945,4961,23,2495681373,8110030@N05,1210649732,Shopping,1874,3
5946,4961,23,2495679397,8110030@N05,1210649689,Shopping,1874,3
5947,4961,21,2496484790,8110030@N05,1210646542,Beach,3594,4
5948,4961,21,2496468192,8110030@N05,1210646384,Beach,3594,4
5949,4961,21,2550059933,8110030@N05,1210646384,Beach,3594,4
5950,4961,23,2495612613,8110030@N05,1210646225,Shopping,1874,3
5951,4961,21,2496437324,8110030@N05,1210645664,Beach,3594,4

`3.` compute the time taken the first and last photo at each POI, a.k.a, arrivalTime and departureTime of a POI,

In [55]:
df_Toro11 = pd.read_csv(fToro11, sep=';')

In [56]:
df_Toro11[df_Toro11['seqID'] == SEQ_ID]

,seqID,poiID,photoID,userID,dateTaken,poiTheme,poiFreq,visitFreq
5540,4961,1,2495792291,8110030@N05,1210662160,Sport,3506,4
5541,4961,1,2496567652,8110030@N05,1210653751,Sport,3506,4
5542,4961,7,2495790615,8110030@N05,1210666002,Cultural,2064,6
5543,4961,7,2550064695,8110030@N05,1210662173,Cultural,2064,6
5544,4961,16,2495737537,8110030@N05,1210655864,Amusement,3553,5
5545,4961,16,2550882990,8110030@N05,1210651491,Amusement,3553,5
5546,4961,19,2497127026,8110030@N05,1210682989,Beach,111,2
5547,4961,19,2497124834,8110030@N05,1210682928,Beach,111,2
5548,4961,21,2496484790,8110030@N05,1210646542,Beach,3594,4
5549,4961,21,2496437324,8110030@N05,1210645664,Beach,3594,4
5550,4961,23,2495681373,8110030@N05,1210649732,Shopping,1874,3
5551,4961,23,2495612613,8110030@N05,1210646225,Shopping,1874,3
5552,4961,24,2496570740,8110030@N05,1210660892,Shopping,1028,2
5553,4961,24,2495726207,8110030@N05,1210660662,Shopping,1028,2
5554,4961,28,2495607515,8110030@N05,1210650175,Structure,936,3
5555,4961,28,2496510540,8110030@N05,1210649845,Structure,936,3

`4.` compute the POI visit duration = departureTime - arrivalTime, the code made the following **ASSUMPTIONS**:
1. The total number of rows of the dataframe is a even number,
1. Row $2i$ and row $2i+1$ are associated with the **SAME** POI in a trajectory,
1. Row $2i$ contains the time of the **LAST** photo taken at the POI, i.e., departureTime,
1. Row $2i+1$ contains the time of the **FIRST** photo taken at the POI, i.e. arrivalTime.

**BUT** before computing POI visit duration, there's a sorting statement:  
`dfVisits=dfVisits[order(dfVisits$seqID, dfVisits$dateTaken, decreasing=TRUE),]#re-order the visit seq in descending order`  
Let's have a look of the dataframe after sorting,

In [57]:
df_Toro2 = pd.read_csv(fToro2, sep=';')

In [58]:
df_Toro2[df_Toro2['seqID'] == SEQ_ID]

,seqID,poiID,photoID,userID,dateTaken,poiTheme,poiFreq,visitFreq
1312,4961,19,2497127026,8110030@N05,1210682989,Beach,111,2
1313,4961,19,2497124834,8110030@N05,1210682928,Beach,111,2
1314,4961,7,2495790615,8110030@N05,1210666002,Cultural,2064,6
1315,4961,7,2550064695,8110030@N05,1210662173,Cultural,2064,6
1316,4961,1,2495792291,8110030@N05,1210662160,Sport,3506,4
1317,4961,24,2496570740,8110030@N05,1210660892,Shopping,1028,2
1318,4961,24,2495726207,8110030@N05,1210660662,Shopping,1028,2
1319,4961,16,2495737537,8110030@N05,1210655864,Amusement,3553,5
1320,4961,1,2496567652,8110030@N05,1210653751,Sport,3506,4
1321,4961,16,2550882990,8110030@N05,1210651491,Amusement,3553,5
1322,4961,28,2495607515,8110030@N05,1210650175,Structure,936,3
1323,4961,28,2496510540,8110030@N05,1210649845,Structure,936,3
1324,4961,23,2495681373,8110030@N05,1210649732,Shopping,1874,3
1325,4961,21,2496484790,8110030@N05,1210646542,Beach,3594,4
1326,4961,23,2495612613,8110030@N05,1210646225,Shopping,1874,3
1327,4961,21,2496437324,8110030@N05,1210645664,Beach,3594,4

Have you seen that? All assumptions except the first one are **NOT** satisfied any more after sorting!

The code continue executing as if the above assumptions were still satisfied, i.e., compute POI visit duration using the `dateTaken` data at row $2i$ to minus that at row $2i+1$, removing rows $2i+1$ after finishing all these minus operations.

In conclusion, the incorrect results are caused by the very sorting statement.

<a id='sec3'></a>

## 3. New Results

After commenting the sorting statement mentioned above, new results are described below.

### 3.1 Load Results

#### Results on Edinburgh dataset.

In [59]:
rec_Edin_new = pd.read_csv(frec_Edin_new, sep=';')
rec_Edin_new.shape

(1266, 14)

In [60]:
algo_Edin = rec_Edin_new['algo'].unique()
algo_Edin

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

Sanity check: NO duplication results.

In [61]:
for i in range(rec_Edin_new.shape[0]):
    if i % 2 == 0: assert(rec_Edin_new.iloc[i]['algo'] == algo_Edin[0])
    else:          assert(rec_Edin_new.iloc[i]['algo'] == algo_Edin[1])

In [62]:
algo10_Edin_new = rec_Edin_new[rec_Edin_new['algo'] == algo_Edin[0]]
algo05_Edin_new = rec_Edin_new[rec_Edin_new['algo'] == algo_Edin[1]]
print(algo10_Edin_new.shape, algo05_Edin_new.shape)

(633, 14) (633, 14)

#### Results on Glasgow dataset.

In [63]:
rec_Glas_new = pd.read_csv(frec_Glas_new, sep=';')
rec_Glas_new.shape

(222, 14)

In [64]:
algo_Glas = rec_Glas_new['algo'].unique()
algo_Glas

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

Sanity check: NO duplication results.

In [65]:
for i in range(rec_Glas_new.shape[0]):
    if i % 2 == 0: assert(rec_Glas_new.iloc[i]['algo'] == algo_Glas[0])
    else:          assert(rec_Glas_new.iloc[i]['algo'] == algo_Glas[1])

In [66]:
algo10_Glas_new = rec_Glas_new[rec_Glas_new['algo'] == algo_Glas[0]]
algo05_Glas_new = rec_Glas_new[rec_Glas_new['algo'] == algo_Glas[1]]
print(algo10_Glas_new.shape, algo05_Glas_new.shape)

(111, 14) (111, 14)

#### Results on Osaka dataset.

In [67]:
rec_Osak_new = pd.read_csv(frec_Osak_new, sep=';')
rec_Osak_new.shape

(94, 14)

In [68]:
algo_Osak = rec_Osak_new['algo'].unique()
algo_Osak

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

Sanity check: NO duplication results.

In [69]:
for i in range(rec_Osak_new.shape[0]):
    if i % 2 == 0: assert(rec_Osak_new.iloc[i]['algo'] == algo_Osak[0])
    else:          assert(rec_Osak_new.iloc[i]['algo'] == algo_Osak[1])

In [70]:
algo10_Osak_new = rec_Osak_new[rec_Osak_new['algo'] == algo_Osak[0]]
algo05_Osak_new = rec_Osak_new[rec_Osak_new['algo'] == algo_Osak[1]]
print(algo10_Osak_new.shape, algo05_Osak_new.shape)

(47, 14) (47, 14)

#### Results on Toronto dataset.

In [71]:
rec_Toro_new = pd.read_csv(frec_Toro_new, sep=';')
rec_Toro_new.shape

(670, 14)

In [72]:
algo_Toro = rec_Toro_new['algo'].unique()
algo_Toro

array(['tourRecLPmultiObjIntTime_i1', 'tourRecLPmultiObjIntTime_i.5'], dtype=object)

Sanity check: NO duplication results.

In [73]:
for i in range(rec_Toro_new.shape[0]):
    if i % 2 == 0: assert(rec_Toro_new.iloc[i]['algo'] == algo_Toro[0])
    else:          assert(rec_Toro_new.iloc[i]['algo'] == algo_Toro[1])

In [74]:
algo10_Toro_new = rec_Toro_new[rec_Toro_new['algo'] == algo_Toro[0]]
algo05_Toro_new = rec_Toro_new[rec_Toro_new['algo'] == algo_Toro[1]]
print(algo10_Toro_new.shape, algo05_Toro_new.shape)

(335, 14) (335, 14)

### 3.2 Results Table

Performance when $\eta = 1.0$.

In [75]:
data10_ndf = [algo10_Edin_new, algo10_Glas_new, algo10_Osak_new, algo10_Toro_new]

In [76]:
algo10_ndf = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [77]:
assert(len(df_indices) == len(data10_ndf))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo10_ndf.loc[ix, '#Trajectory']    = data10_ndf[i].shape[0]
    algo10_ndf.loc[ix, 'Recall_mean']    = np.round(data10_ndf[i]['recall'].mean(), 3)
    algo10_ndf.loc[ix, 'Recall_std']     = np.round(data10_ndf[i]['recall'].std(), 3)
    algo10_ndf.loc[ix, 'Precision_mean'] = np.round(data10_ndf[i]['precision'].mean(), 3)
    algo10_ndf.loc[ix, 'Precision_std']  = np.round(data10_ndf[i]['precision'].std(), 3)
    algo10_ndf.loc[ix, 'F1_mean']        = np.round(data10_ndf[i]['f1score'].mean(), 3)
    algo10_ndf.loc[ix, 'F1_std']         = np.round(data10_ndf[i]['f1score'].std(), 3)
algo10_ndf['#Trajectory'] = algo10_ndf['#Trajectory'].astype(np.int)

In [78]:
algo10_ndf

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,633,0.666,0.183,0.591,0.234,0.611,0.201
Glasgow,111,0.740,0.199,0.716,0.231,0.719,0.211
Osaka,47,0.697,0.174,0.606,0.230,0.639,0.202
Toronto,335,0.736,0.200,0.702,0.242,0.709,0.219

Performance when $\eta = 0.5$.

In [79]:
data05_ndf = [algo05_Edin_new, algo05_Glas_new, algo05_Osak_new, algo05_Toro_new]

In [80]:
algo05_ndf = pd.DataFrame(data=np.zeros((4, 7), dtype=np.float), columns=df_columns, index=df_indices)

In [81]:
assert(len(df_indices) == len(data05_ndf))
for i in range(len(df_indices)):
    ix = df_indices[i]
    algo05_ndf.loc[ix, '#Trajectory']    = data05_ndf[i].shape[0]
    algo05_ndf.loc[ix, 'Recall_mean']    = np.round(data05_ndf[i]['recall'].mean(), 3)
    algo05_ndf.loc[ix, 'Recall_std']     = np.round(data05_ndf[i]['recall'].std(), 3)
    algo05_ndf.loc[ix, 'Precision_mean'] = np.round(data05_ndf[i]['precision'].mean(), 3)
    algo05_ndf.loc[ix, 'Precision_std']  = np.round(data05_ndf[i]['precision'].std(), 3)
    algo05_ndf.loc[ix, 'F1_mean']        = np.round(data05_ndf[i]['f1score'].mean(), 3)
    algo05_ndf.loc[ix, 'F1_std']         = np.round(data05_ndf[i]['f1score'].std(), 3)
algo05_ndf['#Trajectory'] = algo05_ndf['#Trajectory'].astype(np.int)

In [82]:
algo05_ndf

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,633,0.735,0.179,0.613,0.255,0.656,0.223
Glasgow,111,0.837,0.178,0.781,0.241,0.801,0.214
Osaka,47,0.767,0.179,0.638,0.270,0.686,0.233
Toronto,335,0.773,0.172,0.691,0.247,0.720,0.215

Difference between results without and that with duplication.

In [83]:
algo10_ndf - algo10_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,-23,-0.002,-0.001,-0.010,0.005,-0.007,0.002
Glasgow,-5,0.001,0.003,-0.020,0.003,-0.009,0.006
Osaka,-1,0.014,0.001,-0.016,0.005,-0.002,0.004
Toronto,-7,-0.008,0.001,-0.008,0.001,-0.009,0.000

In [84]:
algo05_ndf - algo05_df

,#Trajectory,Recall_mean,Recall_std,Precision_mean,Precision_std,F1_mean,F1_std
Edinburgh,-35,-0.005,0.002,-0.020,0.005,-0.015,0.005
Glasgow,-5,0.011,-0.007,-0.001,0.000,0.003,-0.003
Osaka,-1,0.008,-0.001,-0.024,0.011,-0.013,0.007
Toronto,-11,-0.006,-0.005,-0.015,-0.001,-0.012,-0.003